video {
  width: 40vw;
  height: 30vw;
  margin: 5px;
  background: #2c3e50;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-id-input {
  margin-right: 10px;
}
