.tetris-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tetris-board-inner {
    display: flex;
    flex-direction: column;
    position: relative;
}

.board-block {
    width: 25px;
    height: 25px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.board-block-0 {
    background-color: hsla(0, 90%, 4%, 30%);
}

.board-block-1 {
    background-color: hsla(0, 90%, 50%, 60%);
}

.box {
    width: 25px;
    height: 25px;
    background-color: brown;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.blank {
    width: 25px;
    height: 25px;
    background-color: transparent !important;
    border-style: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: initial;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: initial;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: initial;
}

.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
    align-items: initial;
}