.ttt-container {
    padding: 20px;
}

.ttt-board {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 35%;
  margin-right: 35%;
}

.ttt-message {
  margin-top: 10px;
  font-weight: 500;
  font-size: medium;
}

.ttt-box-common {
  padding: 10;
  font-size: 24;
  line-height: 3rem;
  column-width: 3rem;
  border-style: solid !important;
  border-color: black !important;
  border-width: 1px !important;
  border-radius: 0 !important;
  font-weight: 600;
  font-size: 24px;
  min-width: 3rem;
  min-height: 3rem;
  max-width: 3rem;
  max-height: 3rem;
  user-select: none;
}

.ttt-box {
  background-color: hsla(177, 70%, 41%, 50%);
}

.ttt-boxO {
  color:hsl(140, 93%, 11%);
  background-color: hsla(177, 70%, 21%, 50%);
}

.ttt-boxX {
  color:hsl(7, 89%, 40%);
  background-color: hsla(177, 70%, 21%, 50%);
}

.ttt-box-winO {
  color: black;
  background-color: hsla(138, 98%, 35%, 50%);
}

.ttt-box-winX {
  color: black;
  background-color: hsla(7, 89%, 40%, 50%);
}
