.box {
    width: 25px;
    height: 25px;
    background-color: brown;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.blank {
    width: 25px;
    height: 25px;
    background-color: transparent !important;
    border-style: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}