.box {
    width: 25px;
    height: 25px;
    background-color: brown;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}