.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  margin: 0 auto;
  border-bottom: 1px solid var(--app-color);
  user-select: none;
}

.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 700;
  padding-left: 0;
  margin-left: 45px;
  font-size: 28px;
}

.side-links {
  margin-top: 10px;
  margin-left: auto;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  color: var(--app-color);
  font-size: 1.6rem;
  line-height: 2.2rem;
  white-space: nowrap;
}

.link-active-div {
  padding: 5px 5px 5px 0px;
  background-color: hsla(0, 0%, 0%, 0.35);
  user-select: none;
  cursor: pointer;
  border-radius: 10px;
}

.link-active {
  user-select: none;
  cursor: pointer;
}

.link-active-div a:hover {
  color: var(--app-color);
  text-decoration: none;
  cursor: pointer;
}

.link-inactive-div {
  padding: 5px 5px 5px 0px;
  background-color: hsla(0, 0%, 0%, 0.1);
  user-select: none;
  cursor: pointer;
  border-radius: 10px;
}

.link-inactive {
  user-select: none;
  cursor: pointer;
}

.link-inactive-div a:hover {
  color: var(--app-color);
  text-decoration: none;
  cursor: pointer;
}

.sidebar-footer {
  background: var(--card-background-color) !important;
}

.sidebar-link {
  color: var(--link-color);
  font-size: 2rem;
  font-weight: 500;
  margin: 0 2rem 0 10px;
  font-size: 1.25rem;
  line-height: 2rem;
}

.drawer-header {
  position: absolute;
  color: var(--app-color);
  background: var(--drawer-background);
  width: 100%;
  padding-left: 0px !important;
  padding: 0px !important;
}

.drawer-body {
  background: var(--drawer-background);
  width: 100%;
}

.link-static {
  background-color: transparent;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.link-static :focus {
  outline: none !important;
  border: 0px solid transparent;
  box-shadow: 0 0 0px transparent;
}

.profile-link-tooltip {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  color: var(--app-color);
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.tooltip-left {
  margin-left: 5px;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--app-color);
  background: var(--tooltip-background);
  border-radius: 15px;
}

.tooltip-right {
  margin-left: 50px;
  margin-right: 5px;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--app-color);
  background: var(--tooltip-background);
  border-radius: 15px;
}

.img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
