.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
    background: rgba(0, 0, 0, 0.15);
    user-select: none;    
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar h1 {
    color: #125;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
}

.navbar a {
    color:#f2f2f2;
    text-decoration: none;
    padding: 6px;
}

.navbar a:hover {
    color: #f2f2f2;
}

.links {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    color: #f2f2f2;
    font-weight: bolder;
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.link-static {
    background-color: transparent;
    user-select: none;
}

.link-active {
    padding: 5px 5px 5px 5px;
    background-color: rgb(134, 177, 134);
    user-select: none;
    cursor: pointer;
}

.link-active a:hover {
    color: #f2f2f2;
    text-decoration: none;
    cursor: pointer;
}

.link-inactive {
    padding: 5px 5px 5px 5px;
    background-color: rgb(76, 159, 107);
    user-select: none;
    cursor: pointer;
}

.link-inactive a:hover {
    color: #f2f2f2;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-link {
    color: #f2f2f2;
    font-size: 2rem;
    font-weight: bolder;
    margin: 0 2rem 0 2rem;
    font-size: 2rem;
    line-height: 2.8rem;
}

.drawer {
    background-image: linear-gradient(to bottom, #8ff, #aff, #fff);
}

.tooltip {
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    font-weight: 500;
    background-color: gray;
    border-radius: 15px;
}