:root {
  /* app-background */
  --app-background-color-light: linear-gradient(
    to bottom,
    hsl(240, 65%, 75%) 0%,
    hsl(200, 65%, 75%) 50%,
    hsl(160, 65%, 75%) 100%
  );
  --app-background-color-dark: linear-gradient(
    to bottom,
    hsl(240, 65%, 29%) 0%,
    hsl(200, 65%, 25%) 50%,
    hsl(160, 65%, 25%) 100%
  );
  --app-background-color: var(--app-background-color-light);
  /* app-border */
  --app-border-light: 2px solid hsl(0, 0%, 0%);
  --app-border-dark: 2px solid hsl(0, 100%, 100%);
  --app-border: var(--app-border-light);
  /* app-color */
  --app-color-light: hsl(0, 0%, 0%);
  --app-color-dark: hsl(0, 100%, 100%);
  --app-color: var(--app-color-light);
  /* */
  --modal-background-color: hsl(0, 0%, 100%);
  /* */
  --backdrop-background-color: hsla(0, 0%, 0%, 0.75);
  /* */
  --input-color: black;
  /* */
  --input-background-color: hsl(0, 0%, 100%);
  /* */
  --drawer-background-light: linear-gradient(to bottom, #8ff, #aff, #fff);
  --drawer-background-dark: linear-gradient(to bottom, #04a, #25c, #48f);
  --drawer-background: var(--drawer-background-light);
  /* */
  --tooltip-background-light: hsl(0, 0%, 83%);
  --tooltip-background-dark: hsl(0, 0%, 15%);
  --tooltip-background: var(var(--tooltip-background-light));
  /* */
  --console-background-color-light: hsl(0, 0%, 83%);
  --console-background-color-dark: hsl(0, 0%, 13%);
  --console-background-color: var(--console-background-color-light)
}

/* * {
  color: var(--app-color);
} */

.App {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: "center";
  border-radius: 5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--app-color);
  background-color: var(--app-background-color);
  border: var(--app-border);
}

.App-header {
  background-color: var(--app-header-background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--app-header-color);
}

.content {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

/* content scroll bar */
.content::-webkit-scrollbar {
  width: 0.25rem;
}

.content::-webkit-scrollbar-track {
  background: hsl(240, 5%, 12%);
}

.content::-webkit-scrollbar-thumb {
  background-color: hsl(249, 81%, 60%);
}

h1, h2, h3, h4, h5 {
  color: var(--app-color);
  font-weight: 500;
}

bp3-button-text {
  color: red
}
