:root {
  /* device-font-size */
  --device-font-size: 1rem;
  /* app-background */
  --app-background-color-light: linear-gradient(
    to bottom,
    hsl(240, 65%, 75%) 0%,
    hsl(200, 65%, 75%) 50%,
    hsl(160, 65%, 75%) 100%
  );
  --app-background-color-dark: linear-gradient(
    to bottom,
    hsl(240, 65%, 15%) 0%,
    hsl(200, 65%, 10%) 50%,
    hsl(160, 65%, 10%) 100%
  );
  --app-background-color: var(--app-background-color-light);
  /* app-border */
  --app-border-light: 2px solid hsl(0, 0%, 0%);
  --app-border-dark: 2px solid hsl(0, 0%, 60%);
  --app-border: var(--app-border-light);
  /* app-color */
  --app-color-light: hsl(0, 0%, 0%);
  --app-color-dark: hsl(0, 100%, 100%);
  --app-color: var(--app-color-light);
  /* app-color */
  --link-color-light: hsl(241, 80%, 30%);
  --link-color-dark: hsl(231, 80%, 80%);
  --link-color: var(--link-color-light);
  /* */
  --modal-background-color: hsl(0, 0%, 100%);
  /* */
  --input-color-light: black;
  --input-color-dark: white;
  --input-color: var(--input-color-light);
  /* input-background-color */
  --input-background-color-light: hsl(0, 0%, 80%);
  --input-background-color-dark: hsl(0, 0%, 20%);
  --input-background-color: var(--input-background-color-light);
  /* drawer-background */
  --drawer-background-light: linear-gradient(to bottom, #8ff, #aff, #fff);
  --drawer-background-dark: linear-gradient(
    to bottom,
    hsl(226, 100%, 20%) 0%,
    hsl(226, 82%, 15%) 35%,
    hsl(226, 71%, 10%) 100%
  );
  --drawer-background: var(--drawer-background-light);
  /* tooltip-background */
  --tooltip-background-light: hsl(0, 0%, 83%);
  --tooltip-background-dark: hsl(0, 0%, 15%);
  --tooltip-background: var(--tooltip-background-light);
  /* console-background-color */
  --console-background-color-light: hsl(0, 0%, 83%);
  --console-background-color-dark: hsl(0, 0%, 13%);
  --console-background-color: var(--console-background-color-light);
  /* button-background */
  --button-background-light: hsl(0, 0%, 80%);
  --button-background-dark: hsl(0, 0%, 20%);
  --button-background: var(--button-background-light);
  /* card-background-color */
  --card-background-color-dark: hsl(0, 0%, 20%);
  --card-background-color-light: hsl(0, 0%, 80%);
  --card-background-color: var(--card-background-color-light);
  /* scrollbar-chat */
  --scrollbar-chat-light: hsl(249, 20%, 80%);
  --scrollbar-chat-dark: hsl(240, 5%, 12%);
  --scrollbar-chat: var(--scrollbar-chat-light);
  /* scrollbar-chat */
  --scrollbar-thumb-light: hsl(249, 81%, 60%);
  --scrollbar-thumb-dark: hsl(249, 20%, 80%);
  --scrollbar-thumb: var(var(--scrollbar-thumb-light));
}

/* * {
  color: var(--app-color);
} */

.App {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: "center";
  border-radius: 5;
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  width: 100%;
  height: 100%;
  color: var(--app-color);
  background-color: var(--app-background-color);
  border: var(--app-border);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* display: absolute;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
}

.content {
  display: flex;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  height: 100%;
}

/* content scroll bar */
.content::-webkit-scrollbar {
  width: 0.25rem;
}

.content::-webkit-scrollbar-track {
  background: var(--scrollbar-chat);
}

.content::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

/* content scroll bar */
div::-webkit-scrollbar {
  width: 0.25rem;
}

div::-webkit-scrollbar-track {
  background: var(--scrollbar-chat);
}

div::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--app-color);
  font-weight: 500;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test {
  /* transform: skew(10deg); */
}

.__23rxcu > div {
  top: -280% !important;
}

.spotify-player {
  position: absolute;
  bottom: 0;
  left: 5px;
  width: calc(100% - 10px);
}

.spotify-player-toggle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10vw;
}

.spotify-player-button {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  user-select: none;
}

/* .spotify-player-button:hover {
  color:hsl(200, 65%, 75%)
} */

.messenger-message-content {
  position: relative;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.75rem;
  overflow-y: scroll;
  width: 100%;
  margin-bottom: 10px;
  /* padding-bottom: 10px; */
}

.messenger-input-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
