@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  position: "absolute";
  width: "100%";
  height: "100%";
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {
  background: var(--app-background-color);
  color: var(--app-color);
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

h4 {
  margin-top: 5px;
  margin-bottom: 0;
}
